<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simple Vault GET API demo</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrit    y="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<b>Simple Vault GET API demo</b> 
		<div id="app">
			<div class="p-3 mb-2 bg-light ttext-dark">
				Vault addr  <input v-model="addr"  type="text"><br>
				Vault path  <input v-model="path"  type="text"><br>
				Vault Token <input v-model="token" type="text"><br>
				<button class="btn btn-primary" v-on:click="query">Query</button><br>
				<dl class="alert alert-primary" v-if="resp">
					<dt>Response</dt><dd>{{ resp.data }}</dd>
				</dl>
				<div class="alert alert-warning" v-else="resp">No data.</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="api_get.js"></script>
	</body>
</html>
